@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* [{"color":"#705c3c"},{"color":"#595c4e"},{"color":"#282828"},{"color":"#4a4a4a"},{"color":"#7c806c"},{"color":"#a9a196"},{"color":"#d8d1c8"},{"color":"#efebe1"},{"color":"#f9f7f1"}] */

:root {
  --background-color: #f9f7f1;
  --background-color-dark: #efebe1;
  --background-color-latte: #d8d1c8;
  --background-color-black: #282828;
  --typ-color: #4a4a4a;
  --typ-color-hover: #705c3c;
  --background-btn: #7c806c;
  /* Font sizes */
  --font-size-small: 0.8rem;
  --font-size-base: 1rem; /* Typically 16px if the user's browser default is set to 16px */
  --font-size-md: 1.5rem;
  --font-size-large: clamp(2.5rem, 2vw, 4rem);
  --font-size-xlarge: clamp(3.2rem, 2vw, 4rem);
  /* Font Family */
  --font-header: "Josefin Sans", sans-serif;
  --font-content: "Cardo", serif;
  /* Break points */
  --screen-desktop: 766px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  /* position: relative; */
  line-height: 1;
  background: var(--background-color);
  font-family: "Cardo", serif;
  color: var(--typ-color);
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}

h1 {
  font-family: var(--font-header);
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  cursor: pointer;
  color: var(--typ-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
  /* object-fit: cover; */
  /* object-position: bottom right; */
}

/* ----------------------- Navbar ----------------------- */
header {
  position: fixed;
  width: 100%;
  right: 0;
  background-color: transparent;
  height: 4rem;
  z-index: 100;

  display: flex;
  align-items: center;
}

.header-scroll {
  background-color: var(--background-color);
}

header .container {
  width: 100%;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 1px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}

.navbar-desktop {
  display: none;
}

.logo {
  text-transform: uppercase;
  font-size: var(--font-size-md);
}

.hamburger-menu {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-dark);
  transform: translateX(100rem);
  transition: transform 0.3s linear;
  z-index: 200;
}

.hamburger-btn {
  transition: transform 0.2s linear;
  position: fixed;
  right: 2.5rem;
  z-index: 1000;
}

.hamburger-btn i {
  color: inherit;
  font-size: var(--font-size-md);
}

.hamburger-btn:hover {
  transform: scale(1.2);
}

.toggle-hamburger-menu {
  transform: translateX(0);
}

.hamburger-menu ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hamburger-menu li {
  color: var(--typ-color);
  font-size: var(--font-size-large);
  text-transform: uppercase;
  font-family: var(--font-header);
  letter-spacing: 0.5px;
}

.hamburger-menu li:hover {
  color: var(--typ-color-hover);
}

@media only screen and (min-width: 766px) {
  .navbar {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  .navbar-desktop {
    display: flex;
  }

  .desktop-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .logo {
    /* font-size: var(--font-size-large); */
    font-style: italic;
  }

  .desktop-links li {
    cursor: pointer;
  }

  .desktop-links li:not(:nth-child(3)) {
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
    transition: all 0.5s ease;
  }

  .desktop-links li:not(:nth-child(3)):hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    background-color: black;
    height: 1px;
    animation: linkHover 0.5s ease;
    transform-origin: left;
  }
}

@keyframes linkHover {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
/* ----------------------- Hero section ----------------------- */
.hero {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  z-index: 0;
}

.carousel-item {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

.active {
  opacity: 1;
}

.hero-text {
  color: inherit;
  position: absolute;
  font-size: var(--font-size-large);
  top: 7rem;
  left: 30%;
  transform: translateX(-50%);
  text-transform: uppercase;
  z-index: 20;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  line-height: 1.1;
}

.hero-text p:nth-child(1) {
  font-size: var(--font-size-base);
}

.hero-text span {
  display: block;
}

@media only screen and (min-width: 766px) {
  .hero {
    height: 100vh;
  }

  .carousel-item img {
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  .hero-text {
    top: 6rem;
    left: 70%;
    font-size: 4rem;
  }

  .hero-text p:nth-child(1) {
    font-size: var(--font-size-md);
  }
}

/* ----------------------- Studio section ----------------------- */
.studio {
  background-color: var(--background-color-latte);
}

.studio-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;

  padding-left: 1rem;
  padding-right: 2rem;
  padding-block: 4rem;
}

.studio-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.studio-info p:nth-child(1) {
  font-size: var(--font-size-base);
}

.studio-info h2 {
  font-size: var(--font-size-xlarge);
  color: var(--background-color);
  line-height: 2.2rem;
  letter-spacing: 0.2rem;
}

.studio-info p:nth-child(3) {
  line-height: 2.3rem;
  letter-spacing: 1px;
  font-size: var(--font-size-md);
}

.studio-info button {
  align-self: flex-start;
}

.studio-container div:nth-child(3) {
  max-width: 8rem;
  align-self: center;
}

.studio-container div:nth-child(3) img {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

@media only screen and (min-width: 766px) {
  .studio-container {
    max-width: 65%;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 4rem;
    padding-block: 14rem;
  }

  .studio-info h2 {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 3px;
  }

  .studio-container div:nth-child(2) {
    align-self: stretch;
  }

  .studio-container div:nth-child(2) img {
    object-fit: none;
    object-position: center;
    height: 100%;
  }
}
/* ----------------------- Our Services ----------------------- */
/* 3.5rem for desktop and 3.2rem for mobile */
.our-services {
  padding-block: 4rem;
  text-align: center;
}

.services-intro {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  line-height: 3.5rem;
}

.services-intro h5 {
  font-size: 1.6rem;
}

.services-intro h2 {
  font-size: clamp(3.2rem, 2vw, 4rem);
}

.service-card {
  padding-block: 5rem;
}

.service-card-details {
  display: grid;
  row-gap: 2rem;
  grid-auto-rows: minmax(min-content, 30rem);
  max-width: 90%;
  margin: 0 auto;
}

.service-card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 2rem;

  gap: 1rem;
  background-color: var(--background-color);
  grid-row: 2 / 3;
}

.service-card-img {
  position: relative;
  grid-row: 1 / 2;
}

.service-card-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid var(--background-color);
}

.service-card-details h2 {
  font-size: clamp(2.5rem, 2vw, 8rem);
  text-transform: uppercase;
  font-weight: 500;
}

.service-card-details p {
  font-size: var(--font-size-md);
  line-height: 2rem;
  font-weight: 100;
}

.service-card-details button {
  align-self: flex-start;
}

.weddings {
  background: linear-gradient(
    95deg,
    var(--background-color-latte),
    var(--background-color-latte) 65%,
    var(--background-color) 35%,
    var(--background-color)
  );
}

@media only screen and (min-width: 766px) {
  .services-intro {
    max-width: 65%;
    gap: 3rem;
    line-height: 4rem;
  }

  .services-intro h5 {
    font-size: 2rem;
  }

  .services-intro h2 {
    font-size: 4rem;
    /* font-weight: 700; */
  }

  .service-card {
    padding-block: 4rem;
  }

  .service-card-details {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(min-content, 50rem);
    max-width: 65%;
  }

  .service-card-description {
    gap: 3rem;
    align-self: center;
    transform: translateX(5rem);
    padding-inline: 7rem;
    padding-block: 5rem;
    z-index: 100;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: white;
  }

  .service-card-img {
    grid-row: 1 / 2;
    grid-column: 2 /3;
  }

  .service-card-img img {
    height: 100%;
  }

  .service-card-details p {
    font-size: var(--font-size-md);
    line-height: 2.7rem;
  }
}

/* ----------------------- Utility classes ----------------------- */
.container {
  max-width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 766px) {
  .container {
    max-width: 65%;
  }
}

.btn {
  padding: 1.5rem 2.5rem;
  font-family: var(--font-content);
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: var(--font-size-md);
}

.btn-primary {
  background-color: var(--background-btn);
  color: var(--background-color-dark);
}

.btn-secondary {
  background-color: var(--background-color-dark);
  color: var(--typ-color);
}
